# Compiled class files
*.class

# Package Files
*.jar
*.war
*.ear

# VS Code
.vscode/
bin/
out/

# Eclipse
.classpath
.project
.settings/

# IntelliJ IDEA
.idea/
*.iml

# Mac OS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log